:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: #111827;
  background: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f9fafb;
    background: #111827;
  }
}

body {
  margin: 0;
}
